<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Demo</h1>
    <div class="container unauthenticated align-content-center">
        <a href="/oauth2/authorization/google" height="5" width="10" target="_blank">
            <img src="/images/google_login.png" alt="(google)위의 이미지를 누르면 연결됩니다.">
        </a>
        <a href="/oauth2/authorization/kakao" height="5" width="10" target="_blank">
            <img src="/images/kakao_login.png" alt="(kakao)위의 이미지를 누르면 연결됩니다.">
        </a>
    </div>
    <div class = "container authenticated">
        로그인 : <span id = "user"> </span>
        <div>
            <button onClick = "logout()"class = "btn btn-primary"> 로그아웃 </button >
            <button onClick = "location.href='/home'"class = "btn btn-primary"> 게시글 목록으로 </button >

        </div>
    </div>


</body>
<script type="text/javascript">
    $(".authenticated").hide();

    $.get("/user", function(data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });
    var logout = function() {
        $.post("/logout", function() {
            console.log("요청 전달");
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }
</script>
</html>