<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Sign Up</title>
</head>
<body>
<h2>정보 입력</h2>
<form action="/signup" method="post">
    닉네임: <input type="text" name="nickname">
    생일(6글자): <input type="text" name="birth">
    <input type="submit" value="Sign Up">
</form>
</body>
</html>